*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EFD6AC;
    text-align: center;

}
.container{
   height: 70vh; 
   display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* to create space bw 3 boxes // divs in same line*/
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none ;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1); /* last one is for opacity*/
    background-color: #183A37;
    font-size: 8vmin;
    color: #C44900;
}

#reset{
    padding: 1rem;
    align-items: center;
    height: 60px;
    width: 250px;
    background-color: #C44900;
    border-radius: 20px;
    border: none;
    justify-content: center;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#newGame{
    margin-top: 25px;
    padding: 1rem;
    align-items: center;
    height: 60px;
    width: 250px;
    background-color: #C44900;
    border-radius: 20px;
    border: none;
    justify-content: center;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

#msg{
    color: #432534;
    font-size: 45px;

}

.msg_container{
    height: 140px; ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   flex-direction: column;
    gap : 4 rem;
}

.hide{
    display: none;
}

#heading{
    margin-top: 35px;
    font-size: 80px;
    color: #432534;
}